

/* Navbar Container */
.navbar {
    position: fixed;  /* Sticks navbar to the top */
    top: 0;
    left: 0;
    width: 100vw; /* Ensures it spans the full width */
    background-color: #1e1f20;
    padding: 0px 30px 10px 0px;
    z-index: 1000; /* Ensures navbar stays above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box; /* Prevents unwanted horizontal scroll */
  }
  

   /* Logo Styling */
.nav-logo {
    font-size: 52px;
    font-weight: bold;
    color: #ecf0ea;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10%;
    padding-left: 10%;
  }
  
.logo_subtext{
    margin-left: 120px;
    font-size: 18px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: -5%;
  }
 
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding-right: 5%;

  }
  
  .nav-links li {
    display: inline;
    margin-top: 10%;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family:'JosefinSans-Regular';
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}
  
  /* Hover Effect */
  .nav-links a:hover {
    transform: scale(6.2);
  }
  
  /* Active Link */
  .active {
    border-bottom: 2px solid white;
    padding: 5px;
  }
